<section class="section archive" [@archiveAnimation] *ngIf="state">
	<div class="container">
		<div class="archive-title">
			<h1 class="big-title">projects</h1>
			<p class="archive-subtitle big-subtitle">Una lista mas completa</p>
		</div>
		<div class="archive-table-container">
			<table class="archive__StyledTable-lXDeB haZMKe">
				<thead>
					<tr>
						<th>Year</th>
						<th>Title</th>
						<th class="hide-on-mobile">Made at</th>
						<th class="hide-on-mobile">Built with</th>
						<th>Link</th>
					</tr>
				</thead>
				<tbody>  
					<tr data-sr-id="3">
						<td class="project-date">Example</td>
						<td class="project-title">Example</td>
						<td class="project-company"><span>Example</span></td>
						<td class="project-skills">
							<span>Wordpress<span class="separator">·</span></span>
							<span>HTML<span class="separator">·</span></span>
							<span>CSS</span>
						</td>
						<td class="project-links">
							<span
								><a
									style="color: inherit"
									href="http://innerfire.luzzidigital.fav/"
									><i class="ml-4 fas fa-external-link-alt"></i></a
							></span>
						</td>
					</tr> 
				</tbody>
			</table>
		</div>
	</div>
</section>
